:root {
  --item: rgb(15, 23, 42);
  --aksen: rgb(20, 184, 166);
  --grey: rgb(100, 116, 139);
  --greybet: rgb(241 245 249);
  font-family: sans-serif;
  scroll-behavior: smooth;
  margin-bottom: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}
body {
  background-color: #fff;
  color: var(--item);
  transition: 0.3s background-color;
}
body.item {
  background-color: var(--item);
}
#badan a.putih {
  color: #cbd5e1;
}
#badan.putih {
  color: #cbd5e1;
}
.container {
  max-width: 70rem;
  margin: auto;
  padding: 0 30px;
}
/* Navbar */
#navbar {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 999;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 0.3s background-color;
}
#navbar.item {
  background-color: rgba(15, 23, 42, 0.8);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
#badan .navbar .navbar-logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--aksen);
  transition: 0.2s;
}
#badan .navbar .navbar-logo:hover {
  color: rgb(15, 126, 113);
}
.navbar .navbar-logo:hover {
  color: rgb(15, 126, 113);
}
.navbar .navbar-nav {
  transition: 0.3s;
}
.navbar .navbar-nav a {
  color: var(--item);
  margin: 0 1rem;
  display: inline-block;
  transition: 0.2s;
}
.navbar .navbar-nav a:hover {
  color: var(--aksen);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding: 2px 0;
  border-bottom: 2px solid var(--item);
  transform: scale(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scale(0.7);
  border-bottom: 2px solid var(--aksen);
}
.navbar .navbar-extra {
  display: flex;
  align-items: center;
}
.navbar .mode {
  width: 45px;
  height: 22.5px;
  background-color: var(--item);
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.navbar .mode.putih {
  background-color: #fff;
}
.mode .kiri,
.mode .kanan {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mode .logo-bulan,
.mode .logo-matahari {
  font-size: 0.7rem;
  color: var(--item);
}
.mode .logo-matahari {
  color: yellow;
}
.mode .geser {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid var(--item);
  transition: 0.3s;
}
.mode .geser.item {
  background-color: var(--item);
  border: 2px solid #fff;
}
#hamburger-menu {
  display: none;
}
.navbar .logo-menu {
  font-size: 2rem;
  color: var(--item);
  transition: 0.2s;
}
.navbar .logo-menu:hover {
  color: var(--aksen);
}
/* Manipulasi */
.navbar .navbar-nav.x-nol,
.navbar .mode.x-nol {
  transform: translate(0);
}
/* Akhir Navbar */
/* Hero */
.container-hero {
  max-width: 40rem;
  margin: auto;
  padding: 0 30px;
}
.hero {
  height: 100vh;
}
.hero .kotak-satu,
.hero .kotak-dua {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0;
}
.hero .kotak-satu {
  justify-content: flex-end;
  align-items: center;
}
.hero .kotak-dua {
  justify-content: flex-start;
  align-items: center;
}
.hero .kotak-dua .konten {
  display: flex;
  flex-direction: column;
}
.hero .img-profile {
  width: 190px;
  border-radius: 50%;
  border: 5px solid var(--aksen);
}
.hero .txt-halo {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--aksen);
}
.hero .txt-nama {
  font-size: 3.5rem;
  color: var(--item);
  margin: 1rem 0;
}
.hero .txt-gawean {
  font-size: 1.6rem;
  color: var(--item);
}
.hero .txt-nama.putih,
.hero .txt-gawean.putih {
  color: #cbd5e1;
}
.hero .txt-gawean span {
  color: var(--grey);
}
.hero .kotak-hubungi {
  padding: 10px 20px;
  background-color: var(--aksen);
  border-radius: 50px;
  display: flex;
  margin-top: 4rem;
  align-self: flex-end;
}
.hero .txt-hubungi {
  font-size: 1rem;
  font-weight: bold;
  margin: auto;
  color: #fff;
}
/* Akhir Hero */
/* About */
.about {
  padding: 5rem 0;
  line-height: 28px;
}
.about .kotak-satu {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}
.about .kotak-satu h1 {
  color: var(--aksen);
}
.about .kotak-satu h1::after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--aksen);
  padding-top: 0.5rem;
}
.about .kotak-dua {
  display: flex;
}
.about .kotak-dua * {
  color: var(--grey);
}
.about .kotak-dua h3 {
  color: var(--item);
  font-size: 1.3rem;
}
.about .kotak-dua h3.putih {
  color: #cbd5e1;
}
.about .kotak-project {
  width: max-content;
  padding: 7px 25px;
  background-color: var(--aksen);
  border-radius: 50px;
}
.about .kotak-project p {
  color: #fff;
  font-weight: bold;
}
.about .kotak-dua .txt-about {
  margin: 5rem 0;
  font-size: 1.3rem;
}
.about .kotak-sosmed a {
  font-size: 1.8rem;
  margin-right: 1.7rem;
}
.about .kotak-sosmed a i:hover {
  color: var(--aksen);
}
.about .konten-dua {
  padding-left: 1rem;
}
/* Akhir About */
/* Portfolio */
.portfolio {
  padding: 5rem 0;
  background-color: var(--greybet);
  transition: 0.3s background-color;
}
.portfolio.item {
  background-color: rgb(30 41 59);
}
.portfolio .konten-satu {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  margin: auto;
}
.portfolio .konten-satu h1 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
.portfolio .konten-satu h2 {
  color: var(--aksen);
}
.portfolio .konten-satu h2::after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--aksen);
  padding-top: 0.5rem;
}
.portfolio .konten-satu p,
.portfolio .card p {
  font-size: 1.1rem;
  color: var(--grey);
}
.portfolio .kotak-dua {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.portfolio .card {
  max-width: 330px;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 10px 10px #ccc;
  line-height: 22px;
  transition: 0.3s background-color;
}
.portfolio .card.item {
  box-shadow: none;
  background-color: var(--item);
}
.portfolio .card img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}
.portfolio .card .konten-txt {
  width: 100%;
  padding: 1rem;
}
.portfolio .card h3 {
  margin-bottom: 1rem;
}
/* Akhir Portfolio */
/* Contact */
.contact {
  padding: 5rem 0;
}
.contact .konten-satu {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.contact .kotak-satu h2 {
  width: max-content;
  color: var(--aksen);
}
.contact .kotak-satu h2::after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--aksen);
  padding-top: 0.5rem;
}
.contact .kotak-satu h1 {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.contact .kotak-satu p {
  color: var(--grey);
  font-size: 1.2rem;
}
.contact .kotak-dua {
  padding: 3rem 0;
}
.contact form {
  max-width: 40rem;
  margin: auto;
}
.contact .kotak-nama,
.contact .kotak-email,
.contact .kotak-pesan {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.contact label {
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--aksen);
}
#nama,
#email,
#pesan {
  background-color: var(--greybet);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}
#nama,
#email {
  height: 2.5rem;
}
#pesan {
  height: 10rem;
}
#nama:focus,
#email:focus,
#pesan:focus {
  border: 2px solid var(--aksen);
}
#kirim {
  background-color: var(--aksen);
  padding: 7px 30px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: 0.2s;
}
#kirim:hover {
  background-color: rgb(15, 126, 113);
}
/* Akhir Contact */
/* Footer */
.footer {
  color: #fff;
  background-color: var(--item);
}
.footer .kotak-satu {
  padding: 5rem 0;
  display: flex;
  border-bottom: 1px solid var(--grey);
  overflow-x: hidden;
}
.footer .kotak-satu h1 {
  margin-bottom: 2rem;
}
.footer .kotak-satu h2 {
  margin-bottom: 1.5rem;
}
.footer .konten-dua,
.footer .konten-tiga {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/* EROR DISINI CUYYY */
.footer .kotak-satu .konten-satu,
.footer .kotak-satu .konten-dua,
.footer .kotak-satu .konten-tiga {
  padding: 2rem 10rem 2rem 0;
}
.footer .konten-satu p,
.footer .konten-satu h2,
.footer .kotak-satu a {
  color: #cbd5e1;
  line-height: 22px;
}
.footer .kotak-satu a {
  margin: 10px 0;
  transition: 0.2s;
}
.footer .kotak-satu a:hover {
  color: #fff;
}
.footer .kotak-dua {
  padding: 3rem 0;
  text-align: center;
}
.footer .kotak-dua i {
  font-size: 1.9rem;
}
.footer .kotak-dua .konten-satu,
.footer .kotak-dua .konten-dua {
  padding: 0.7rem 0;
}
.footer .kotak-dua .konten-satu a {
  margin: 0 1rem;
  color: var(--grey);
  transition: 0.2s;
}
.footer .kotak-dua .konten-satu a:hover {
  color: var(--aksen);
}
.footer .kotak-dua .konten-dua {
  font-size: 0.9rem;
  color: var(--grey);
}
.footer .kotak-dua .konten-dua i {
  font-size: 0.9rem;
  color: red;
}
.footer .kotak-dua .konten-dua a:nth-child(2) {
  color: var(--aksen);
  font-weight: bold;
}
.footer .kotak-dua .konten-dua a:last-child {
  color: rgb(29, 120, 193);
  font-weight: bold;
}
/* Akhir Footer */
/* universal */
.about .kotak-sosmed a i:hover {
  transition: 0.2s;
}
/* Responsip */

/* Gede */
@media (min-width: 1920px) {
  :root {
    font-size: 110%;
  }
  .container {
    max-width: 74rem;
  }
}
/* PC */
@media (max-width: 1366px) {
  :root {
    font-size: 100%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  :root {
    font-size: 90%;
  }
  .navbar .mode {
    width: 40px;
    height: 20px;
  }
  .portfolio .card {
    max-width: 350px;
  }
  .footer .konten-satu,
  .footer .konten-dua,
  .footer .konten-tiga {
    padding-right: 5rem;
  }
  .footer .kotak-satu {
    flex-wrap: wrap;
  }
}
/* HP */
@media (max-width: 578px) {
  :root {
    font-size: 80%;
  }
  .navbar .mode {
    width: 35px;
    height: 17.5px;
    position: absolute;
    top: calc(100% + 3rem);
    right: calc(1rem + 1.5rem);
    transform: translateY(-650%);
  }
  .navbar .navbar-nav {
    width: 16rem;
    position: absolute;
    background-color: rgb(255, 255, 255, 0.9);
    top: calc(100% + 1rem);
    right: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem;
    border: 1.5px solid #ddd;
    border-radius: 10px 0 10px 0;
    transform: translateX(calc(100% + 1rem));
  }
  .navbar .navbar-nav.item {
    background-color: rgb(30 41 59);
    border: none;
  }
  .navbar .navbar-nav a {
    max-width: max-content;
    margin: 1rem 0;
  }
  #hamburger-menu {
    display: flex;
  }
  #hamburger-menu i {
    color: var(--grey);
  }
  .about .kotak-dua {
    flex-direction: column;
  }
  .about .konten-dua {
    padding-left: 0;
  }
  .portfolio .card {
    max-width: 100%;
  }
}
/* js */
.x-100 {
  transform: translateX(100%);
}
